*

!Practice02/
!Practice02/src/
!Practice02/src/task01/
!Practice02/src/task01/*/
!Practice02/src/task02/
!Practice02/src/task02/*/
!Practice02/src/task03/
!Practice02/src/task03/*/
!Practice02/src/task04/
!Practice02/src/task04/*/
!.github/
!.github/workflows/

!Practice02/src/task01/**
!Practice02/src/task02/**
!Practice02/src/task03/**
!Practice02/src/task04/**
!.github/workflows/**

!Readme.md
!.gitignore
!pyrightconfig.json
